.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    display: inline-block;
    margin: 0 15px;
    padding: 0px;
    transition: all 0.3s ease-out 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    transform: scale(1.3);
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #d7edf8;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
#navbar-toggler{
  z-index: 2;
}
#navbarNavDropdown{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#font-hel {
  font-family: Helvetica;
}

#introCL {

  text-shadow: 2px 2px 2px #9cc1d3;
  font-family: "Sofia", cursive;
  font-size: 30px;
}

#introCL2 {
  font-family: "Sofia", cursive;
  font-size: 25px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 600px;
  width: 100%;
}

#navbarpicture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.navbar-nav .nav-link {
  font-size: large;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  /* text-decoration:underline 2px rgb(255, 255, 255); */
  text-shadow:
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 1px rgb(255, 255, 255),
    0 0 1px rgb(255, 255, 255),
    0 0 1px rgb(255, 255, 255),
    0 0 1px rgb(255, 255, 255),
    0 0 1px rgb(255, 255, 255);
}

#navbar-toggler {
  border-color: white;
}

#CLintro {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  z-index: -1;
  height: 500px;
  width: 100%;
}

#CLintro2 {
  position: absolute;
  top: 8rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  height: 500px;
  width: 100%;
}

.neonText {
  color: rgb(255, 255, 255);
  text-shadow:
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 1px #0fa,
    0 0 5px #0fa,
    0 0 6px #0fa,
    0 0 8px #0fa,
    0 0 10px #0fa;
}